<div class="upload-holder">
  <h3>Ng2 Upload - Demo</h3>
  <div class="item" *ngFor="let item of uploader.queue; let i = index">
    <img *ngIf="item.preview" [src]="item.preview"/>
    <span>{{item.file.name}}</span>
    <mdl-progress [progress]="item.progress"></mdl-progress>
    <span>{{item.progress}}%</span>
    <button mdl-button mdl-button-type="raised" (click)="item.start()"><mdl-icon>file_upload</mdl-icon></button>
    <button mdl-button mdl-button-type="raised" mdl-colored (click)="item.remove()"><mdl-icon>delete</mdl-icon></button>
  </div>
  <div class="actions">
    <input type="file" multiple #file class="file-selector" (change)="updateFiles()"/>
    <button mdl-button  mdl-button-type="raised" (click)="selectFiles()" mdl-colored>Custom Select Files</button>
    <button mdl-button mdl-button-type="raised" (click)="uploader.uploadAll()" mdl-colored>Upload All</button>
    <button mdl-button mdl-button-type="raised" (click)="uploader.clearQueue()" mdl-colored>Clear All</button>
  </div>
  <div class="actions">
    Select Files (Directive) <input type="file" multiple ng2UploadSelect/>
  </div>
</div>
