/* You can add global styles to this file, and also import other style files */

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #efefef;
}

.upload-holder{
  position: relative;
  text-align: center;
  margin: auto;
  width: 60%;
}

.btn-holder{
  position: relative;
  text-align: center;
  margin: auto;
  padding: 30px 0px;
}

.files-list{
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.file{
  position: relative;
  display: inline-block;
  width: 80%;
}

.file-holder{
  position: relative;
  height: 40px;
  width: 100%;
  background: rgba(255, 0, 0, 0.1);
}
.file-holder > span {
  line-height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.inline-btns{
  position: relative;
  display: inline-block;
  width: 24%;
  text-align: center;
}

.progress{
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgba(255, 0, 0, 0.2);
  width: 400px;
}

.start-btns{
  position: relative;
  width: 100%;
  justify-content: space-around;
  padding: 20px 0px;
}

.green{
  background-color: #4CAF50;
}

.red{
  background-color: #ff0000;
}

button {
    position: relative;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px 40px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    outline: 0;
    border: 1px solid #ddd;
}

button:hover{
  box-shadow: 1px 1px 1px 1px #ddd;
}

button:after {
    content: "";
    background: #ccc;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -40px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
    outline: 0;
}

button.inline{
  padding: 10px 25px;
  height: 40px;
  justify-content: space-around;
}