/* You can add global styles to this file, and also import other style files */

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #fafafa;
}

.upload-holder{
  position: relative;
  text-align: center;
  margin: auto;
  width: 60%;
}

.item{
  width: 100%;
  padding: 10px 0px;
}

.item > img {
  height: 50px;
}

mdl-progress{
  display: inline-block !important;
}

.actions{
  padding-top: 50px;
}

.file-selector{
  opacity: 0px;
  width: 0px;
  height: 0px;
  visibility: none;
}